html, body {
	font-family: 'Montserrat', sans-serif;
}

p{
	font-size: 14px;
}
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #053161;
	border-bottom: 5px solid #970830;
	z-index: 1;
}

.main{
	position: relative;
	top: 100px;
    left: -50px;
}

.sidebar{
	position: fixed;
	top: 100px;
	bottom: 15px;
    right: 15px;
    width: 300px;
    background: #1E2124;
    box-shadow: 5px 5px 5px #888888;
    color: #ffffff;
}

h1{
	position: relative;
	left: -25px;
	font-size: 48px;
	font-weight: 400;
	padding-left: 20px;
	color: #ffffff;
}

.boxes{
	list-style: none;
}

li{
	/*background: #2E3136;*/
	background: #053161;
	padding: 5px 5px 5px;
    border-bottom: 1px solid #970830;
    margin-right: 200px;
    font-size: 12px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px #888888;
    color: #ffffff;
}

li.intro{
	margin-top: 25px;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    li{
    	margin-right: 0px;
    }
}